{% extends "Partials/_Base.html" %}
{% load static %}
{% block Title %}<title>Anadir Productos</title>{% endblock Title %}
{% block Styles %}
<link rel="stylesheet" href="{% static 'assets/skins/dropify/css/dropify.css' %}">
{% endblock Styles %}
{% block Content %}
<br>
<br>

<div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <h4 class="heading_a uk-margin-bottom">Añadir excel</h4>
        <div class="md-card">
            <div class="md-card-content">
                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#tabs_4'}">
                    <li><a href="uk-active">Por excel</a></li>
                </ul>
                <ul id="tabs_4" class="uk-switcher uk-margin">

                    <li><div class="container-center" id="File_post" >
                          <div class="md-card">
                            <form action="{% url 'Filtrar' %}" method="post" enctype="multipart/form-data" >
                              {% csrf_token %}
                              <div class="md-card-content">
                                  <h3><a data-uk-modal="{target:'#modal_lightbox'}">Ejemplo *</a></h3>

                                  <div id="modal_lightbox" class="uk-modal">
                                    <center>
                                      
                                      <div class="uk-modal-dialog uk-modal-dialog-blank">
                                        <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
                                        <img src="{% static 'Image/Ejemplo_excel.JPG' %}" alt="">
                                      </div>
                                    </center>
                                  </div>
                                  <input type="file" id="input-file-a" name="input-file-a" class="dropify" />
                              </div>
                              <button type="submit" style="color:grey" data-message="Top Center" class="uk-button  uk-width-1-5 uk-align-right uk-animation-scale uk-animation-reverse" name="button">Enviar</button>
                            </form>
                          </div>
                    </div></li>
                </ul>
              </div>
            </div>

    </div>
</div>


{% endblock Content %}
{% block JavaScript %}
  <script type="text/javascript">
  function doSearch()
  {
    var tableReg = document.getElementById('Table');
    var searchText = document.getElementById('searchTerm').value.toLowerCase();
    var cellsOfRow="";
    var found=false;
    var compareWith="";

    // Recorremos todas las filas con contenido de la tabla
    for (var i = 1; i < tableReg.rows.length; i++)
    {
      cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
      found = false;
      // Recorremos todas las celdas
      for (var j = 0; j < cellsOfRow.length && !found; j++)
      {
        compareWith = cellsOfRow[j].innerHTML.toLowerCase();
        // Buscamos el texto en el contenido de la celda
        if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
        {
          found = true;
        }
      }
      if(found)
      {
        tableReg.rows[i].style.display = '';
      } else {
        // si no ha encontrado ninguna coincidencia, esconde la
        // fila de la tabla
        tableReg.rows[i].style.display = 'none';
      }
    }
  }
  </script>
  <script src="{% static 'assets/js/pages/forms_advanced.js' %}"></script>
  <script src="{% static 'bower_components/jquery.inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
  <script src="{% static 'bower_components/ion.rangeslider/js/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'assets/js/custom/dropify/dist/js/dropify.js' %}"></script>
  <script src="{% static 'assets/js/pages/forms_file_input.js' %}"}></script>
{% endblock JavaScript %}
