{% extends "Partials/_Base.html" %}
{% load static %}
{% block Title %}<title>Ver Tabla</title>{% endblock Title %}
{% block Styles %}{% endblock Styles %}
{% block Content %}
{% csrf_token %}
<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">
            Buscar<br><input id="searchTerm" type="text" onkeyup="doSearch()" />
            <table class="uk-table uk-table-nowrap table_check" id="Table">
                <thead>
                <tr>
                    <th class="uk-width-2-10 uk-text-center">Modelo</th>
                    <th class="uk-width-2-10 uk-text-center">Nombre</th>
                    <th class="uk-width-2-10 uk-text-center">Consumo</th>
                    <th class="uk-width-1-10 uk-text-center">Garantia</th>
                    <th class="uk-width-1-10 uk-text-center">Stock</th>
                    <th class="uk-width-2-10 uk-text-center">Precio</th>
                    <th class="uk-width-2-10 uk-text-center">Sku</th>

                </tr>
                </thead>
                <tbody>
                  {% for i in liblanca %}
                    <tr>
                        <td class="uk-text-center">{{ i.model }}</td>
                        <td class="uk-text-center">{{ i.name }}</td>
                        <td class="uk-text-center">{{ i.consumo }}</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">{{ i.stock }}</td>
                        <td class="uk-text-center">{{ i.precio }}</td>
                        <td class="uk-text-center">{{ i.sku2 }}</td>
                         
                    </tr>
                  {% endfor %}

                  {% for i in electronica %}
                    <tr>
                        <td class="uk-text-center">{{ i.model }}</td>
                        <td class="uk-text-center">{{ i.name }}</td>
                        <td class="uk-text-center">{{ i.consumo }}</td>
                        <td class="uk-text-center">{{ i.garantia }}</td>
                        <td class="uk-text-center">{{ i.stock }}</td>
                        <td class="uk-text-center">{{ i.precio }}</td>
                        <td class="uk-text-center">{{ i.sku2 }}</td>

                    </tr>
                  {% endfor %}
                  {% for i in hogar %}
                    <tr>
                        <td class="uk-text-center">{{ i.model }}</td>
                        <td class="uk-text-center">{{ i.name }}</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">{{ i.garantia }}</td>
                        <td class="uk-text-center">{{ i.stock }}</td>
                        <td class="uk-text-center">{{ i.precio }}</td>
                        <td class="uk-text-center">{{ i.sku2 }}</td>

                    </tr>
                  {% endfor %}
                  {% for i in patio %}
                    <tr>
                        <td class="uk-text-center">{{ i.model }}</td>
                        <td class="uk-text-center">{{ i.name }}</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">{{ i.stock }}</td>
                        <td class="uk-text-center">{{ i.precio }}</td>
                        <td class="uk-text-center">{{ i.sku2 }}</td>


                    </tr>
                  {% endfor %}
                  {% for i in jugueteria %}
                    <tr>
                        <td class="uk-text-center">{{ i.model }}</td>
                        <td class="uk-text-center">{{ i.name }}</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">0</td>
                        <td class="uk-text-center">{{ i.stock }}</td>
                        <td class="uk-text-center">{{ i.precio }}</td>
                        <td class="uk-text-center">{{ i.sku2 }}</td>

                    </tr>
                  {% endfor %}

                </tbody>
            </table>

        </div>
        <!-- <ul class="uk-pagination uk-margin-medium-top">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
        </ul> -->
    </div>
    <div class="uk-grid">
      <form  action="{% url 'descuento' %}" method="post">
        {% csrf_token %}
        &nbsp;&nbsp;&nbsp;<input id="searchTerm1" name="searchTerm1" type="text" onkeyup="doSearch()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" style="color:grey" data-message="Top Center" class="uk-button  uk-width-1-1 uk-animation-scale uk-animation-reverse" name="button">Aplicar Descuento</button>
        <br>
        <FONT SIZE=1 COLOR="gray">(Recibe un numero entero del 0 al 100)</FONT>


      </form>
      <form action="{% url 'precio_max' %}" method="post">
        {% csrf_token %}
        <input id="searchTerm2" name="searchTerm2" type="text" onkeyup="doSearch()" /> <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" style="color:grey" data-message="Top Center" class="uk-button  uk-width-1-1 uk-animation-scale uk-animation-reverse" name="button">Precio Maximo</button>
      </form>
    </form>

    <form method="post">
      {% csrf_token %}
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="Button" style="color:grey" data-message="Top Center" class="uk-button  uk-width-1-1 uk-animation-scale uk-animation-reverse" name="button3" id="button3">Venta Total</button>
    </form>
    </div>
</div>
{% endblock Content %}
{% block JavaScript %}
<script>
  $("#button3").on("click",function(){
    $.ajax({
         type: "POST",
         url: "{% url 'venta_total' %}",
         data: {
           csrfmiddlewaretoken:'{{csrf_token}}',
         },
         success: function(data)
         {
           alert("La venta total seria de: $"+data.total);
         }
     });
  });

  $( document ).ready(function() {
    if ({{message}} == 1){
      alert("La tabla se encontrara vacia porque no existe valor menor al ingresado");
    }
  });
</script>
<script language="javascript">
		function doSearch()
		{
			var tableReg = document.getElementById('Table');
			var searchText = document.getElementById('searchTerm').value.toLowerCase();
			var cellsOfRow="";
			var found=false;
			var compareWith="";

			// Recorremos todas las filas con contenido de la tabla
			for (var i = 1; i < tableReg.rows.length; i++)
			{
				cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
				found = false;
				// Recorremos todas las celdas
				for (var j = 0; j < cellsOfRow.length && !found; j++)
				{
					compareWith = cellsOfRow[j].innerHTML.toLowerCase();
					// Buscamos el texto en el contenido de la celda
					if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
					{
						found = true;
					}
				}
				if(found)
				{
					tableReg.rows[i].style.display = '';
				} else {
					// si no ha encontrado ninguna coincidencia, esconde la
					// fila de la tabla
					tableReg.rows[i].style.display = 'none';
				}
			}
		}
	</script>
{% endblock JavaScript %}
