{% extends "Partials/_Base.html" %}
{% load static %}
{% block Title %}<title>Inicio</title>{% endblock Title %}
{% block Styles %}{% endblock Styles %}
{% block Content %}
<br>
<br>
<br>
<center>
	<FONT FACE="Segoe UI Black" SIZE=32 COLOR="red">{{message}}</FONT>
	<br>
	<FONT FACE="Segoe UI Black" SIZE=32 COLOR="red">{{message2}}</FONT>
	
</center>
	

{% endblock Content %}
{% block JavaScript %}
{% endblock JavaScript %}