{% load static %}
<aside id="sidebar_main">
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <!-- <a href="#" class="sSidebar_hide sidebar_logo_large">
                <img class="logo_regular" src="{% static 'assets/img/logo_main.png' %}" alt="" height="15" width="71"/>
                <img class="logo_light" src="{% static 'assets/img/logo_main_white.png' %}" alt="" height="15" width="71"/>
            </a> -->
            <a href="#" class="sSideba{% static 'r_show sidebar_logo_small">
            </a>
        </div>
    </div>

    <div class="menu_section">
        <ul>
      
            <!-- <li title="Configuracion"> -->
                <!-- <a href="#">
                  <span class="menu_icon"><i class="uk-icon-server">&#xE241;</i></span>
                  <span class="menu_title">Administración</span>
                </a>
                <ul> -->
                    <li> <a href="{% url 'anadir_tabla' %}"><i class="uk-icon-upload"></i>  Añadir Excel</a> </li>
                <!-- </ul> -->
            <!-- </li> -->
            <!-- <li title="Buscar"> -->
              <!-- <a href="#">
                <span class="menu_icon"><i class="uk-icon-server">&#xE241;</i></span>
                <span class="menu_title">Buscar</span>
              </a>
              <ul> -->

              <!-- <i class="uk-icon-server">&#xE241;</i> -->
              <li > <a  href="{% url 'ver_tabla' %}"><i class="uk-icon-binoculars"></i>  Ver Tabla</a></span></li>

              <!-- </ul> -->
            <!-- </li> -->
        </ul>
    </div>
</aside><!-- main sidebar end -->
